* {
    box-sizing: border-box;
    font-family: 'VCR OSD Mono';
}

body {
    background-image: url("images/stars.png");
    background-color: black;
    color: white;;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCROSDMono.eot'),
    url('fonts/VCROSDMono.svg'),
    url('fonts/VCROSDMono.ttf'),
    url('fonts/VCROSDMono.woff'),
    url('fonts/VCROSDMono.woff2');
}

body {
    margin: 0;
}

.header {
    background-image: url("../images/stars.png");
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: orangered;
    text-shadow: 3px 3px black;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 0px;
    width: 33.33%;
    text-decoration: none;
}

.topnav1 {
    background-color: orangered;
}

.topnav2 {
    background-color: orange;
}

.topnav3 {
    background-color: yellow;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    display:block;
    background-color: red;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
}

.footer:hover {
    background-color: black;
    color: white;
}