* {
    box-sizing: border-box;
    font-family: 'VCR OSD Mono';
}

body {
    background-image: url("../images/stars.png");
    background-color: black;
    color: white;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCROSDMono.eot'),
    url('fonts/VCROSDMono.svg'),
    url('fonts/VCROSDMono.ttf'),
    url('fonts/VCROSDMono.woff'),
    url('fonts/VCROSDMono.woff2');
}

body {
    margin: 0;
}
  
.header {
    background-image: url("../images/stars.png");
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.header2 {
    font-size: 75px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 0px;
    width: 33.33%;
    text-decoration: none;
}

.topnav1 {
    background-color: orangered;
}

.topnav2 {
    background-color: orange;
}

.topnav3 {
    background-color: yellow;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}

.column {
    float: left;
    padding: 10px;
    text-shadow: 3px 3px black;
}
  
.column.side {
    width: 25%;
}
  
.column.middle {
    width: 50%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: red;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: black;
}

.red {
    color: red;
}

.orangered {
    color: orangered;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.white {
    color: white;
}